<html>
    <head>
        {% if title %}
        <title>{{ title }} - AsyncTask</title>
        {% else %}
        <title>Welcome to AsyncTask</title>
        {% endif %}
    </head>
    <body>
        <div>
            AsyncTask:
            <a href="{{ url_for('add') }}">Добавить</a>
            <a href="{{ url_for('search') }}">Найти</a>
            <a href="{{ url_for('remove') }}">Удалить</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </body>
</html>